/* 
    Created on : 25 sept 2025, 15:30:38
    Author     : Peter
*/
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Quicksand:wght@300..700&display=swap');

:root{
    --bg-color-dark: #131200;
    --text-color-dark: #EDF2F4;
    --links-color-dark: #EFBDEB;
    --links-color-hover: #8D91C7;
    --nav-links: #8D3FD1;
    --highlight: #EDF67D;
    --form-bg-color: #3E5577;
    --input-focus: #EDF67D;
    --red-highlight: E27E7C;
}
body, main, h3{
    padding: 0;
    margin: 0;
}

a{
    color: var(--links-color-dark);
    text-decoration: none;
}
