header h1 {
    width: 60%;
    left: 50px;
    top: 40%;
    transform: none;
}

header img {
    height: 60vh;
}

#news {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin: 30px;
    max-width: 100%;
    flex: 1 1 0;
    flex-wrap: wrap;
}

article {
    min-width: 270px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 33%;
    flex: 1 1 0;
}

article img {
    display: block;
    margin: auto;
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    object-position: top;
}

article h3 {
    color: var(--highlight);
}
