@import url("global.css");

.plans-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    margin: 50px auto;
    width: 90%;
}

.plan {
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.plan h3 {
    font-size: 2rem;
}

.price {
    font-size: 3rem;
    font-weight: bold;
    color: var(--highlight);
}

.period {
    font-size: 0.75rem;
    margin-bottom: 0px;
}

form {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1rem;
    text-align: left;
}

input {
    height: 2rem;
    border-radius: 0.5rem;
}

button {
    height: 2rem;
    width: 40%;
    margin: auto;
    background-color: var(--highlight);
    border-radius: 0.5rem;
}
