@import url('./global.css');

header img {
    height: 40vh;
}

header h1 {
    position: absolute;
    top: 40%;
    left: 20%
}

section h3 {
    margin: 20px 0 10px 0;
    font-size: 24px;
}

table {
    width: 80%;
    margin: auto;
    background-color: var(--form-bg-color);
    border-radius: 10px;

}
table th, table td {
    padding: 10px;
    text-align: center;
    border : 2 px solid var(--form-bg-color);
}

table th {
    font-size: 20px;
    color: var(--links-color-dark);
}
table td span {
    display: block;
    color: var(--links-color-dark);
}

table tr:nth-child(even) {
    background-color: #327CAD;
}
