@import url('./global.css');

header img {
    height: 40vh;
}

header h1 {
    position: absolute;
    top: 40%;
    left: 20%
}

.formulario {
    background-color: var(--form-bg-color);
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    text-align: left;
}
.formulario h3,span,label, input {
    display: block;
    width: 100%
}

label {
    font-size: 18px;
}

span {
    font-size: 12px;
}
.titulo span {
    font-size: 16px;
}
.formulario div {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

input {
    height: 25px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    margin: 2px auto;
}

input:focus {
    background-color: var(--input-focus);
}

input:invalid{
    border: 1px solid var(--red-highlight);
}

.radbutt, .tyc{
    width: auto;
    display: inline;
}

.formulario .titulo {
    background-color: var(--bg-color-dark);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

select {
    height: 25px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    width: 100%;
    margin: auto;
}

.options {
    background-color: var(--bg-color-dark);
    padding: 10px;
    border-radius: 5px;
}

.options button {
    font-size: 18px;
    padding: 5px;
}



