@import url('./global.css');

body{
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    font-family:'Quicksand', 'Alan Sans', 'Arial Narrow', sans-serif;
    text-align: center;
}

a:hover{
    color: var(--links-color-hover);
    text-decoration: underline;
    transition-duration: 0.5s;
}

nav{
    display:flex;
    padding: 10px;
}

nav a{
    color: var(--nav-links);
    font-family: "Alan Sans", 'Arial Narrow', sans-serif;
    font-weight: 700;
}

nav a:hover{
    color: white;
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    padding: 15px 0px 15px 0px;
    font-size: 22px;
    list-style: none;
}

nav .logo{
    margin-right: auto;
    height: 70px;
    padding: 5px;
}

header{
    position: relative;
}
header img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
header h1{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50px;
    font-family: "Alan Sans", 'Arial Narrow', sans-serif;
    width: 60%;
    font-size: 4rem;
}
header span{
    font-style: italic;
    font-weight: 500;
    color: var(--highlight);
}

#news{
    margin-top: 30px;
    padding: 20px;
    display: inline;
}

article{
    width: 30%;
    min-width: 270px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

article img{
    display: block;
    margin: auto;
    max-width: 300px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    object-position: top;
}